@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,html{width:100%;height:100%;padding:0;margin:0}
.countdownmasterDiv{display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:space-around;width:100%;height:100%;background-size:cover;background-position:top;font-family: 'Montserrat', sans-serif;}
.countdownspan{font-size:5.0vh;color:#fff;margin:0 1vw;padding:1.1vw 1.1vw;display:inline-block;width:8vh;border-radius:10px;text-align:center;background:rgba(0,0,0,0.75);box-shadow:inset 0 -5px 0 rgba(0,0,0,0.5)}
.countdownspan:after{font-size:1.5vh;display:block;margin:3px 0 -1px;opacity:.8}
.countdownspan:nth-of-type(1):after{content:"days"}  span:nth-of-type(2):after{content:"hrs"}
.countdownspan:nth-of-type(3):after{content:"min"}   span:nth-of-type(4):after{content:"sec"}
.countdowndiv{position:relative;}
/*
.countdownTitle{content:"Android Workshop";position:absolute;text-align:center;width:100%;left:0;font-size:1em;color:white;FONT-WEIGHT:BOLD}
.countdownTagline{content:"Time until your hello world!";position:absolute;text-align:center;width:100%;left:0;font-size:1.4vw;color:white;bottom:-4vw;}
*/
